 <div class="mt-4 row"  style="color: rgb(120,120,120)">
   <div class="col-10">
          <h4>{{job[1]}}</h4>
     <div>
          <b>Location: </b>{{job[2]}}
      </div>
          {% if job[3] in job%}
     <div class="border-bottom">
          <b>Salary: </b>{{job[4]}}{{job[3]}}
     </div>
          {%endif%}
   </div>
          <div class="col-2">
            <a href="mailto:hello@jovian.ai?subject=Application for {{job['Title']}}" type="button" class="btn btn-outline-primary">Apply</a>
          </div>
</div>